@tailwind base;
@tailwind components;
@tailwind utilities;

.cont {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
}

body {
  @apply font-sans;
}

.openChangeIcon {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(180deg) skew(0deg, 0deg);
}




